<p>Hello <%= @user.name %>,</p>

<p>Welcome back to Mogul! 🎉</p>
<p>We're pleased to inform you that your account has been successfully reactivated, and all associated data has been restored following your recent login.</p>

<p>If you have any concerns or need further assistance, please contact us at <%= mail_to "alwyn@yopmail.com" %>.</p>

<p>Thank you for choosing Mogul</p>

<p>Best regards,</p>
<p>The Mogul Team</p>