<h1>Editing task view</h1>

<%= render "form", task_view: @task_view %>

<br>

<div>
  <%= link_to "Show this task view", @task_view %> |
  <%= link_to "Back to task views", task_views_path %>
</div>
