<h1>Editing status group</h1>

<%= render "form", status_group: @status_group %>

<br>

<div>
  <%= link_to "Show this status group", @status_group %> |
  <%= link_to "Back to status groups", status_groups_path %>
</div>
