<p style="color: green"><%= notice %></p>

<h1>Task groups</h1>

<div id="task_groups">
  <% @task_groups.each do |task_group| %>
    <%= render task_group %>
    <p>
      <%= link_to "Show this task group", task_group %>
    </p>
  <% end %>
</div>

<%= link_to "New task group", new_task_group_path %>
