<h1>Editing status color</h1>

<%= render "form", status_color: @status_color %>

<br>

<div>
  <%= link_to "Show this status color", @status_color %> |
  <%= link_to "Back to status colors", status_colors_path %>
</div>
