<p>Hello <%= @resource.name %>,</p>

<p>Welcome to Mogul! 🎉</p>

<p>To complete your account setup, please confirm your email address by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Thank you for joining us!</p>

<p>Best regards,</p>
<p>The Mogul Team</p>