<p>Hello <%= @resource.name %>,</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We're contacting you to inform you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <>We're contacting you to inform you that your email has been changed to <%= @resource.email %>.</p>
<% end %>

<p>If you have any questions or concerns, please contact us at <%= mail_to "alwyn@yopmail.com" %>.</p>

<p>Best regards,</p>
<p>The Mogul Team</p>
