<div data-flash-messages-target="noticeContainer" class="flex hidden bg-amber-50 rounded-sm p-2 mt-2 w-fit items-center mx-auto">
    <i class="fe fe-check-circle text-green-500 pr-2"></i>
    <p data-flash-messages-target="noticeMessage" class="notice font-semibold text-sm text-green-500 dark:text-green-400">
        <%= notice %>
    </p>
</div>
<div data-flash-messages-target="alertContainer" class="flex hidden bg-amber-50 rounded-sm p-2 mt-2 w-fit items-center mx-auto">
    <i class="fe fe-warning font-semibold text-red-500 pr-2"></i>
    <p data-flash-messages-target="alertMessage" class="alert font-semibold text-sm text-red-500 dark:text-red-400">
        <%= alert %>
    </p>
</div>