<nav class="hidden sticky top-16 lg:block w-1/6 p-4 bg-white dark:bg-gray-800 h-[calc(100vh-64px)]">
    <div class="h-full flex flex-col justify-between items-center">
        <div>
            Top
        </div>
        <div>
            Bottom
        </div>
    </div>
</nav>